[workspace]
resolver = "2"
members = ["voxelis", "vtm-viewer"]

[workspace.dependencies]
voxelis = { path = "voxelis" }
# bevy = { git = "https://github.com/bevyengine/bevy.git", branch = "main" }
bevy = "0.14.2"
bevy_egui = "0.29.0"
bevy_panorbit_camera = { version = "0.19.3", features = ["bevy_egui"] }
# bevy_screen_diagnostics = { git = "https://github.com/laundmo/bevy_screen_diagnostics.git", branch = "main" }
bevy_screen_diagnostics = "0.6.0"
bitflags = "2.6.0"
byteorder = "1.5.0"
egui_extras = "0.28.1"
log = { version = "*", features = [
  "max_level_debug",
  "release_max_level_warn",
] }
md-5 = "0.10.6"
rayon = "1.10.0"
rustc-hash = "2.0.0"
zstd = "0.13.2"

# Enable a small amount of optimization in debug mode
[profile.dev]
#opt-level = 1

# Enable high optimizations for dependencies (incl. Bevy), but not for our code:
[profile.dev.package."*"]
opt-level = 3

[profile.release-debug-info]
inherits = "release"
debug = true
