[workspace]
resolver = "2"
members = ["ad-altum", "voxelis"]

[workspace.dependencies]
voxelis = { path = "voxelis" }
# bevy = { git = "https://github.com/bevyengine/bevy.git", branch = "main" }
bevy = "0.14.2"
bevy_egui = "0.29.0"
bevy_panorbit_camera = { version = "0.19.3", features = ["bevy_egui"] }
bevy_screen_diagnostics = "0.6.0"
# bevy_screen_diagnostics = { git = "https://github.com/laundmo/bevy_screen_diagnostics.git", branch = "main" }
egui_extras = "0.28.1"

# Enable a small amount of optimization in debug mode
[profile.dev]
opt-level = 1

# Enable high optimizations for dependencies (incl. Bevy), but not for our code:
[profile.dev.package."*"]
opt-level = 3
