[package]
name = "voxelis"
version.workspace = true
authors.workspace = true
license.workspace = true
edition = "2024"

[features]
memory_stats = []
debug_trace_ref_counts = []

[dependencies]
ahash.workspace = true
bitflags.workspace = true
byteorder.workspace = true
fastnoise-lite.workspace = true
glam.workspace = true
humanize-bytes.workspace = true
log.workspace = true
md-5.workspace = true
parking_lot.workspace = true
rand.workspace = true
rayon.workspace = true
rustc-hash.workspace = true
serde.workspace = true
wide.workspace = true
zstd.workspace = true

[dev-dependencies]
# criterion = { version = "0.5.1", features = ["html_reports"] }
criterion = { git = "https://github.com/bheisler/criterion.rs", features = [
  "html_reports",
] }

[[bench]]
name = "octree_bench"
harness = false
